* {
    box-sizing: border-box;
  
}
body {
    background-image: url(../img/fond-ecran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
main {
   
   margin: 10%;
   
     }

.fieldset {

    background-color:azure;
    padding: 1%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.submitConnection {
    text-align: center;
}
h1.titre {
    height: auto;
    width: auto;
    font-size: 250%;
    font-style: italic;
    color: rgb(20, 11, 136);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5%;
}

