* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}

h1.titre {
    height: auto;
    width: auto;
    font-size: 60px;
    border: solid 10px ;
    border-style:groove;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    background-color: azure;
    text-align: center;
}
form {
    background-color: azure; 
   
}
.fieldset {
   
    border: 1px solid #3e3744;
    background-color: azure;
   
    
}
#mon_id { 
    background-color: rgb(206, 84, 50);
}

.espace {
    margin-bottom: 10px;
}