*{
    box-sizing: border-box;

}

body {
    background-image: url(../img/fond-userDetail.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    
} 
.titreInscription {

text-align: center;
}
.inscriptionHtml section ul {
    list-style-type: none;
    padding: 0;
}

.inscriptionHtml section li {
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

.inscriptionHtml {
width: 95%;
border: 1px solid azure;
border-radius: 5%;
background-color: rgba(240, 255, 255, 0.693);
text-align: center;
padding: 2%;
margin: auto;
margin-top: 40%;

}

.erreurMdp {

    color: red
}


@media screen and (min-width: 768px) and (max-width : 991px) and (orientation : portrait) {
    /* section {
    /* display: none;
     }
    main{
        display: none;
    }  */
 } 


